:root, body, ul
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Gør ting til flexboxe */
body, main, nav, section, article, ul, a>ul, .InfoCard
{
    display: flex;
}

/* Sæt flex-direction til column på en masse ting */
body, main, section, article, ul, a, .InfoCard
{
    flex-direction: column;
}

/* Kom align-items: center; på de rigtige ting */
body, ul, a
{
    align-items: center;
}

/* Giv sections og overskrifter noget padding for oven og for neden */
section, h1
{
    padding: 0 1rem;
}

/* Gør skriftfarven brun og lav en skygge på h1 elementer */
h1
{
    color: hsl(27, 67%, 30%);
    text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.5);
}

/* Sæt tekstfarven på bodyen og hyperlinks */
body, a
{
    color: hsl(180, 25%, 25%);
}

/* Gør bodyen den mindst 100vh høj og sæt baggrundsfarven */
body
{
    min-height: 100vh;
    background-color: hsl(0, 0%, 86%);
}

/* Få headeren til at forsvinde indtil den skal bruges og giv den padding */
header
{
    display: none;
    padding: 1rem;
}

/* Giv nav og footeren en bestemt højde og bredte og sæt deres baggrundsfarve */
nav, footer
{
    height: 2.5rem;
    width: 100%;

    background-color: hsl(27, 67%, 30%);

    z-index: 2;
}

/* Få main til at fylde så meget af bodyen som den kan med flex: auto; og giv den margin */
main
{
    flex: auto;

    width: 100%;

    margin: 1.5rem;
}

/* Giv main og headeren en max bredte på 1000 pixels */
main, header
{
    max-width: 1000px;
}

/* Få nav til altid at være øverst på skærmen og få billedet i nav barren til at stå til højre */
nav
{
    justify-content: flex-end;

    position: sticky;
    top: 0;
}

/* Giv articles lidt margin på toppen og gør dem tilpads brede */
article
{
    margin-top: 1rem;
    width: 100%;
}

/* Sæt font størrelsen på teksten i siden */
p
{
    font-size: 1rem;
}

/* Fjern understrejen på hyperlinks og kom deres tekst i midten */
a:not(.SpecialLink)
{
    text-decoration: none;
    text-align: center;
}

/* Få hyperlinks i nav barren til at ligge pænt  */
nav a
{
    display: none;  
    color: whitesmoke;

    width: 30%;
    max-width: 300px;
    height: 100%;

    line-height: 2.5rem;
    font-weight: bolder;
}

/* Giv hyperlinks en hover effekt */
a:hover
{
    opacity: 0.8;
}

/* Giv tekst margin på toppen og bunden */
h2,h3,p
{
    margin: .5rem 0;
}

/* Få billeden i nav barren til at sidde ordenligt */
nav img
{
    margin: auto .2rem;
    height: 2.4rem;
    width: 2.4rem;
}

/* Få header billedet til ikke at være større end headeren */
header img 
{
    width: 100%;
}

/* Giv alle fugle billederne en skygge */
ul img
{
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.5);
}

/* Få info kortet i fuglesiderne til at side ordenligt, giv den en gennemsigtig hvid baggrund og noget padding */
.InfoCard
{
    flex-wrap: wrap;

    background-color: rgb(255,255,255,0.3);

    padding: .5rem;
}

/* Få tekst inden i info kortet til at side ordenligt og giv det padding */
.InfoCard ul
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    line-height: 1.3rem;

    margin-left: 1rem;
    margin-top: .5rem;
}

/* Få billedet i info kortet til at fylde hele bredten */
.InfoCard img 
{
    width: 100%;
}

/* Ting der sker når skærmen er større end 500 pixels */
@media only screen and (min-width: 501px) {   

    /* Få ting til at stå i midten */
    article, nav
    {
        justify-content: center;
    } 

    /* Få billeder til at automatisk tilpasse siden */
    ul
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Giv billederne en margin på siden så de ikke står op af hindanden */
    ul a
    {
        margin: 0 .7rem;
    }

    /* Få headeren til at vise sig */
    header
    {
        display: flex;
    }

    /* Få billedet i nav barren til at forsvinde */
    nav img 
    {
        display: none;
    }

    /* Få alle hyperlinks i nav barren til at vise sig */
    nav a
    {
        display: block;
    }

    .InfoCard
    {
        flex-direction: row;
    }

    .InfoCard img
    {
        width: 200px;
    }

    .InfoCard ul
    {
        margin-left: 2rem;
    }
}